.Icon_Button {
  border: none;
  background-color: inherit;
  padding: 0;
}

.Icon_Button:hover {
  /* input styles */
}

.Icon_Button:focus {
  outline: none !important;
}

.Icon_Countable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 30px;
  color: lightgrey;
}

.Icon_Count {
  font-size: 12px;
  color: darkgrey;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed */
}
